# Environment variables for todoist-digest

# Log level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
export LOG_LEVEL=DEBUG

export TODOIST_API_KEY=
export TARGET_USER=
export TARGET_PROJECT=
export EMAIL_AUTH=
export EMAIL_TO=
export EMAIL_FROM=
