[tool.poetry]
name = "todoist-digest"
version = "0.4.2"
description = "Generate a digest of comments that occured since the last checked in date. Useful for including in an email."
authors = ["Michael Bianco <mike@mikebian.co>"]
license = "MIT"
readme = "README.md"
keywords = ["todoist", "digest", "task", "management"]

[tool.poetry.dependencies]
python = "^3.11"
todoist-api-python = "^2.1.3"
click = "^8.1.7"
pyjson5 = "^1.6.5"
funcy-pipe = "^0.5.0"
# funcy-pipe = { develop = true, path = "../../python/funcy-pipe" }
python-dateutil = "^2.8.2"
backoff = "^2.2.1"
markdown2 = "^2.4.12"
whatever = "^0.7"
apscheduler = "^3.10.4"

[tool.poetry.group.dev.dependencies]
isort = "5.11.5"
black = "^23.12.1"
pylint = "^3.0.3"
pyright = "^1.1.349"

[tool.isort]
profile = "black"
float_to_top = true

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
todoist-digest = "todoist_digest:cli"
