{% if comments or new_tasks or completed_tasks %}
# Project [{{ project_name }}]({{ project_link }})
_targeting user {{ target_user }}_
{% if comments %}
## Comments
{% for task_with_comments in comments %}
  {% set task = task_with_comments %}
  {% include "task.jinja" with context %}
  {% for comment in task_with_comments.comments %}
    _{{ comment["posted_at_date"].strftime("%m/%d") }}_: {{ comment["content"] }}
    {% if not loop.last %}

    ---
    
    {% endif %}
  {% endfor %}
{% endfor %}
{% elif not omit_empty %}
  *No comments*
{% endif %}
{% if new_tasks %}
## Added Tasks
{% for task in new_tasks %}
  {% include "task.jinja" with context %}
{% endfor %}
{% elif not omit_empty %}
  *No new tasks*
{% endif %}
{% if completed_tasks %}
  ## Completed Tasks
  {% for task in completed_tasks %}
    {% include "task.jinja" with context %}
  {% endfor %}
{% elif not omit_empty %}
  *No completed tasks*
{% endif %}
{% endif %}
